.layout-container.sidebar-right {
    display: grid;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    grid-template-columns: 1fr var(--sidebar-width);
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

.layout-container.sidebar-right .header {
    grid-area: header;
}

.layout-container.sidebar-right .sidebar {
    grid-area: sidebar;
}

.layout-container.sidebar-right .main {
    grid-area: main;
}

.layout-container.sidebar-right .footer {
    grid-area: footer;
}