/* Hide sidebar for landing layout */
[data-layout="landing"] .sidebar {
    display: none;
}

/* Layout specific styles for landing layout */
[data-layout="landing"] {
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

[data-layout="landing"] .header {
    grid-area: header;
}

[data-layout="landing"] .main {
    grid-area: main;
}

[data-layout="landing"] .footer {
    grid-area: footer;
}