[data-layout="landing"] {
    grid-template: var(--header-height) 1fr var(--footer-height) / 1fr;
    grid-template-areas:
   "header"
   "main"
   "footer";
}.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }