.form {
    @apply flex flex-col gap-[var(--spacing-md)] w-full max-w-lg
    p-[var(--spacing-md)] bg-[var(--bg-primary)]
    rounded-[var(--border-radius-lg)];

    /* These properties cannot be applied via @apply */
    background-color: var(--bg-primary);
    outline: 3px solid var(--border-color); /* Adds an outline */
    outline-offset: 10px; /* Pushes the outline outward */
}



/* Form Variants */
.form--centered {
    @apply mx-auto text-center;
}

.form--compact {
    @apply max-w-sm p-[var(--spacing-sm)];
}

/* Form Actions */
.form__actions {
    @apply  mt-[var(--spacing-md)] flex flex-col gap-[var(--spacing-xs)];
}




