.form {
    @apply space-y-[var(--spacing-xl)] mx-auto border p-[var(--spacing-xl)] rounded-[var(--border-radius-xl)];
    border-color: var(--border-color);
    width: 70%;
}


.form--centered {
    @apply justify-center;
    @apply space-y-[var(--spacing-lg)] max-w-screen-lg


}

.form--compact {
    @apply space-y-[var(--spacing-lg)] max-w-md;
}

.form__actions {
    @apply  space-x-[var(--spacing-xl)];
}

/* InputField Styles */
.input-field-wrapper {
    @apply flex flex-col;
}

.input-field__label {
    @apply mb-2 font-semibold ;
}

.input-field {
    @apply p-2 border rounded focus:outline-none focus:ring;
    background-color: var(--bg-secondary);
    border-color: var(--border-color);
}



/* TextArea Styles */
.textarea-wrapper {
    @apply flex flex-col;
}

.textarea__label {
    @apply mb-2 font-semibold;
}

.textarea {
    @apply p-2 border rounded focus:outline-none focus:ring;
    background-color: var(--bg-secondary);
    border-color: var(--border-color);
}


