.layout-container.dashboard {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

.layout-container.dashboard .header {
    grid-area: header;
}

.layout-container.dashboard .main {
    grid-area: main;
}

.layout-container.dashboard .footer {
    grid-area: footer;
}