/* Base layout container */
.layout-container {
    display: grid;
    background-color: var(--color-background);
    color: var(--color-text);
}
 .sidebar {
    display: none; /* Sidebar is not visible in a top layout */
}
/* Default/Top layout */
.layout-container,
.layout-container[data-layout="top"] {
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 1fr;
}
.layout-container[data-layout="top"] .sidebar {
    display: none; /* Sidebar is not visible in a top layout */
}

/* Left sidebar layout */
.layout-container[data-layout="sidebar-left"] {
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: var(--sidebar-width) 1fr; /* Sidebar width from theme */
    grid-template-rows: var(--header-height) 1fr;
}

.layout-container[data-layout="sidebar-left"] .sidebar.collapsed {
    width: var(--sidebar-collapsed-width); /* Adjust sidebar width for collapsed state */
    border-right: none; /* Remove default border */
    border-left: 1px solid var(--sidebar-border-color); /* Use theme border color for collapsed state */
}

/* Right sidebar layout */
.layout-container[data-layout="sidebar-right"] {
    grid-template-areas:
        "header header"
        "main sidebar";
    grid-template-columns: 1fr var(--sidebar-width); /* Sidebar width defined in theme */
    grid-template-rows: var(--header-height) 1fr;
}

.layout-container[data-layout="sidebar-right"] .sidebar.collapsed {
    width: var(--sidebar-collapsed-width); /* Dynamic sidebar size when collapsed */
    border-left: none;
    border-right: 1px solid var(--sidebar-border-color); /* Use consistent border color */
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}
