/* card.css */

/* Card Container */
.card {
    @apply rounded-lg shadow-md overflow-hidden;
    background-color: var(--bg-primary);
    outline: 3px solid var(--border-color); /* Makes the border appear further away */
    outline-offset: 10px;

}

/* Card Header */
.card__header {
    @apply p-[var(--spacing-md)] text-lg font-bold border-b;
}

/* Card Body */
.card__body {
    @apply p-[var(--spacing-md)];
}

/* Optional description inside the card body */
.card__body-description {
    @apply text-sm mb-[var(--spacing-md)];
}

/* Card Footer */
.card__footer {
    @apply p-[var(--spacing-md)] border-t text-right;
    border-color: var(--border-color);
}
