/* Toolbar container */
.toolbar {
    position: relative;
    background-color: var(--bg-secondary-color); /* Background color */
    border-radius: var(--radius-md); /* Rounded edges */
    box-shadow: var(--shadow-md); /* Subtle shadow */
    padding: var(--space-md); /* Inner padding */
    margin: var(--space-md); /* Margin around the toolbar */
}

/* Floating Menu styles */
.toolbar-menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-md); /* Space between menu items */
}

.toolar-menu-item {
    background-color: var(--light-color); /* Background for items */
    padding: var(--space-md); /* Padding inside items */
    border-radius: var(--radius-sm); /* Rounded edges for items */
    box-shadow: var(--shadow-sm); /* Subtle shadow on items */
    transition: transform var(--transition-speed) var(--transition-timing),
    box-shadow var(--transition-speed) var(--transition-timing);
}

.toolar-menu-item h3 {
    font-size: var(--font-sm); /* Smaller font size for headings */
    color: var(--text-primary); /* Primary text color */
    margin-bottom: var(--space-sm); /* Space below heading */
}

.toolbar-menu .toolar-menu-item:hover {
    transform: translateY(-2px); /* Slight lift on hover */
    box-shadow: var(--shadow-md); /* Enhance shadow on hover */
}

/* Layout Switcher */
.layout-switcher, .theme-switcher {
    display: flex;
    align-items: center;
    gap: var(--space-sm); /* Space between elements */
}

.layout-switcher button,
.theme-switcher button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--btn-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed) var(--transition-timing),
    transform var(--transition-fast);
}

.layout-switcher button:hover,
.theme-switcher button:hover {
    background-color: var(--button-hover-bg-color);
    transform: translateY(-2px); /* Slight movement */
}

.layout-switcher button:focus,
.theme-switcher button:focus {
    outline: 2px solid var(--focus-border);
}
