@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add your custom styles or variables here */
:root {
    --color-primary: #4299e1;
    --color-secondary: #f687b3;
    --color-bg: #ffffff;
    --color-text: #333333;
}
